@import "nullstyle.scss";

/*----------------------------------------------------------*/
._center {
	max-width: 1190px;
	margin: 0px auto;
	padding: 0px 10px;
}

._ibg img {
	position: absolute;
	z-index: -50;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	-o-object-fit: cover;
	object-fit: cover;
}
